@font-face {
    font-family: 'Oxanium', cursive;
    src: url('../fonts/Montserrat-Regular.ttf')  format('truetype');
}
.logo{
    height:90px;
    width:200px;
    background-color: transparent;
    border-radius:50px;
}
header {
    background-color: #d2d0c5;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    z-index: 1000;
}
p{
    font-size: 20px;
    color: black;
}
.img{
    padding-top: 20px;
}
h2{
    padding-top: 20px;
}
/*slider css*/
.main-slider {
    position: relative;
}
.slider-img {
    position: relative;
}
.slider-img img {
    width: 100%;
    height: 750px;
}
.slider-text {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    color: #fff;
    width: 100%;
    margin: 0 auto;
}
#slide {
    text-align: center;
    padding: 25px;
}
.textside {
    margin-left: 0;
    margin-right: 0;
    display: initial;
}
h6 {
    /* -webkit-text-stroke: 0.5px #000; */
    color: #fff;
    font-weight: bold;
    font-size: 67px;
    line-height: 70px;
     font-family: "Open Sans",Sans-serif;
    letter-spacing:1px;
}

.content h1 {
    z-index: 1;
   font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: unset;
    line-height: 50px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 42px;
}
.more_btn {
    background: #f38122;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 13px 40px;
    display: inline-block;
    margin: 40px 0 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 3px 3px 1px #602c199c;
    transition: 0.5s;
    animation-delay: 1s;
    animation-duration: 1s;
     font-family: "Open Sans",Sans-serif;
}
.bx-wrapper {
    border: 0;
    margin-bottom: 0;
    box-shadow: none;
    background: none;
}
.slider-img:before {
    position: absolute;
    content: '';
    background:#303628b8;
}

.slider-img:before {
    /* background: #002147 none repeat scroll 0 0; */
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width:100%;
}
/* sectionn 3 start*/

.Section3{background-color: #F7F7F7;
border-top: 1px solid #ededed;
border-bottom: 1px solid #ededed;
padding: 50px 0px;}
.course {
    border: 1px solid black;
    margin: 30px 0px;
    background-color: #FFF;
    padding: 0;
    position: relative;
    box-shadow: 0 0 6px 1px rgb(234 234 234);
    border-radius: 10px;
}
.wc-course-details{    padding: 35px;}
.course .more_btn {
    margin: 15px 35px 30px 35px;
}



.form {
    border: 1px solid black;
    background-color: #f5f1f1;
    width: 100%;
    border-radius: 50px;
    text-align: center;
}
input#name {
    margin: 10px;
}
input#no {
    margin: 10px;
}
input#email {
    margin: 10px;
}
button.formbtn {
    margin: 10px;
    background-color: orange;
    border-radius: 10px;
}
iframe {
    width: 100%;
    padding-top: 10px;
}
img.contimg {
    border-radius: 50px;
}
section {
    padding-bottom: 20px;
}
a.shwbtn {
    
    padding-left: 500px;

}
.heading {
    margin: auto;
    padding-top: 100px;
}